* {
    padding: 0px;
    margin: 0px;
}


header {
    background-color: rgb(69, 38, 97);
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: right;
}

header a {
    cursor: pointer;
}

footer{
    background-color: rgb(69, 38, 97);
    padding: 1rem;
    font-size: 1rem;
    color: white;
    display: flex;
    gap: 2rem;
     align-items: center;
    justify-content: center;
}

main{
     background-color: rgb(221, 208, 233);
    padding: 4rem;
    font-size: 1rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 1.5rem;
    border: 1px solid lightsalmon;
    border-radius: 1.5rem;
    background-color: antiquewhite;
}